/*custom styles*/

body {
	background-color: #3E4038;
}

p.top {
	text-align: center;
	font-family: Georgia, Times, serif;
}

h1 {
	text-align: center;
	font-family: Arial black, arial, sans-serif;
}

div.container {
	background-color: #D6FFD4;
}

div.jumbotron {
	background-color: #FF3907;
}

a.footer {
	color: #3E4038;
	font-size:200%;
}

a.wufoo {
	color: #3E4038;
	text-decoration:underline;
}

div.carousel-caption {
	font-family: Lucida, Times, Serif;
}